.background{ 
    position: relative;
}
.button.is-large{
  position: absolute;
  top: 50%;
  left:50%;
}
.feature-image{
    width: 100%;
    height: auto;
}

.questions{
    display: block;
}
.questionEvent{
    display: none;
}

.movieDisplayed{
    display: none;
}