html {
  background: url('https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80') no-repeat center fixed;     
  background-size: cover;
}

.questionEvent{
  display: none;
}

.startButton, .movieDisplayed{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  margin: 0px;
}


.bigBox, .questionEvent{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    
   
}

.button-container .button-selection {
    margin-bottom: 10px;
}

.bigBox {
    background-color: #F0F8FF;
    width: 80%;
    height: 40%;
}

.alignBeside {
    margin-top: 4%;
    margin-bottom: 4%;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
}


nav {
    display: flex;
    justify-content: space-around;
}

nav code {
    color: black;
}

.back {
    margin-left: 20px;
}

.box{
  width:50vw;
  height:auto;
  position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.movieCard {
  display: none;
}

#recBtn {
  margin:10px;
  white-space:normal;
}


